* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {	
	width:98vw; 
	margin:20px auto;
	}
nav {
	border:1px solid #c0c0c0;
	border-radius:10px;
}
nav  a{
	display:inline-block;
	padding:10px 30px;
	text-decoration:none;
	color:grey;
	}
nav a:hover{	
	text-decoration:underline;
	color:#050505;
	}
h1 {
	font-family:Roboto;
	font-weight:100;
	font-size:50px;
	letter-spacing:0.2em;
	}
.main-flex {
	width:98vw; 
	margin:0 auto;
	display:flex;
}
.flex-item-l {
	width:57vw; 
	}
.flex-item-hr{	
	display:flex;
	flex-direction:coloms;
	width:1vw; 
	padding:0 1vw;
	}
.flex-item-r {
	width:37vw; 
	}
.main-grid-L{	width:100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr ;
	gap:10px;
	}
.main-grid-R{
	width:100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr ;
	gap:10px;
	}
.main-grid-L img, .main-grid-R img{
	width:100%;
	}
.item-L1 { 
	grid-area: 1/1/2/4;
	display:flex;
	padding-left:100px;
	align-items: center;
	}	
.item-L2 { 
	grid-area: 2/1/3/3;
	display:flex;
	padding-left:100px;
	align-items: center;
	}	

