* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
nav {
	border:1px solid #c0c0c0;
	border-radius:10px;
}
nav  a{
	display:inline-block;
	padding:10px 30px;
	text-decoration:none;
	color:grey;
	}
nav a:hover{	
	text-decoration:underline;
	color:#050505;
	}
.main-grid {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 150px 1fr;
  }
.l-space{
	grid-area: 1 / 1 / 3 /2; 
	}
.v-space-start {
	grid-area: 1 / 2 / 2 /3;
	display: grid;
	align-content:space-around ;
	}
.r-space{
	grid-area: 1 / 3 / 3 /4; 
	}
.image-cover {
	grid-area: 1 / 2 / 2 /3; 
	}
h1{
	font-family:Roboto;
	font-size:3rem;
	font-weight:500;
	}
.image-grid {
	grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20% 20% 20%;
	gap:30px;
  }
.v-space-endd {
	grid-area: 3 / 1 / 4 / 4;
	}
.h-space-l{
	grid-area: 1 / 1 / 3 / 2;
	}
.h-space-r{
	grid-area: 1 / 3 / 3 / 4;
	}
.bottom-space {
	grid-area: 3 / 2 / 4 / 3;
	}
.fill  img{
	width:100%; 
	height:100%;
	}
.fill-w  img{
	width:100%;
	}
.fill-h  img{
	height:100%;
	}
.image-grid div {
	overflow: clip; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
.image-grid img{
	object-fit: cover;
	}
.item1 img{  
	transform:translateY(-25%);
	}
.item1 {
	grid-area: 1 / 1 / 2 / 3;
}
.item4 {
	grid-area: 2 / 2 / 4 / 3;
}
.item5 {
	grid-area: 2 / 3 / 3 / 5;
}
