* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
nav {
	border:1px solid #c0c0c0;
	border-radius:10px;
}
nav  a{
	display:inline-block;
	padding:10px 30px;
	text-decoration:none;
	color:grey;
	}
nav a:hover{	
	text-decoration:underline;
	color:#050505;
	}
.main-grid {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 150px 1fr 10px;
  }
.v-space-start {
	grid-area: 1 / 2 / 2 /3;
	display: grid;
	align-content:space-around ;
	}
.image-cover {
	grid-column: 1 / span 4;
	}
h1{
	font-family:Roboto;
	font-weight:100;
	font-size:50px;
	letter-spacing:0.2em;
	}
.image-grid {
	grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
	gap:30px;
  }
.image-grid  img {
	inline-size:300px;
	max-inline-size:100%;
	aspect-ratio: 16/9; 
	transition-duration: 0.5s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
.v-space-end {
	grid-area: 3 / 1 / 4 / 4;
	}
.h-space-l{
	grid-area: 1 / 1 / 3 / 2;
	}
.h-space-r{
	grid-area: 1 / 3 / 3 / 4;
	}
